@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

$light-color: #F7F6FF;
$light-gray: #B4B4C0;
$mid-gray: #7F7E96;
$dark-gray: #404051;
$bg-color: #1C1D21;

$primary-font: 'Roboto', sans-serif;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 400;
$font-weight-light: 300;

$r-large: 0.625em;

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

h1 {
    color: $light-color;
    font-weight: $font-weight-bold;
    font-size: 1.18em;
}

p {
    color: $light-gray;
    font-size: 0.75em;
    line-height: 1.3;
}

body {
  font-family: $primary-font;
}

.wrap {
    background-color: $bg-color;
    background-image: linear-gradient($bg-color 50%, $dark-gray 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    max-width: 26em;
    margin: auto;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 26em;
  z-index: 80;

  
  .header-content{
    background-color: $dark-gray;
    border-radius: 0 0 1.25em 1.25em;
    min-height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: relative;

  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40%);
    border-radius: 0 0 1.25em 1.25em;
    width: 90%;
    height: 1.25em;
    background-color: $mid-gray;
    opacity: 0.7;
  }
 
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 80%);
    border-radius: 0 0 1.25em 1.25em;
    width: 80%;
    height: 1.25em;
    background-color: $light-color;
    z-index: -1;
    opacity: 0.2;
  }

  .logo {
    img {
      display: block;
      width: 5em;
    }
  }
}

.search {
  flex: 1 0 auto;
  margin-right: 1em;
}

.form-group {
  border-radius: 1em;
  background-color: $light-color;
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
  margin: 0;

  input {
    background-color: transparent;
    border: none;
    font-size: 0.875em;
    font-weight: $font-weight-light;
    flex: 1 0 auto;
    margin-left: 0.8em;

    &:focus {
      outline: none;
    }
  }

  .btn {
    width: 1.77em;
    height: 1.7em;
    background-color: $mid-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    button {
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }

      i {
        color: $light-color;
        font-size: 0.8em;
      }
    }
  }
}

.top-news {
  margin-top: 5em;
}

.feature-article-wrap {
  display: flex;
  overflow: auto;
  min-height: 40vh;
  padding-bottom: 1.5em;
}

.feature-article {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex: 0 0 100%;
  
  .feature-image {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 20.5625em;
      height: 11.5625em;
      overflow: hidden;
      border-radius: 0 0 0 $r-large;
      background-color: $dark-gray;
      
      img{
          width: 100vmin;
      }
  }

  .feature-date {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $dark-gray;
    margin: 0;
    width: 9.5rem;
    font-size: 0.5em;
    padding: 0.5em 1em;
    border-radius: 0.7em 0 0 0;
    color: $light-color;

    span {
        font-weight: $font-weight-black;
    }
  }

  h1 {
      width: 88%;
      padding-right: 2em;
      margin-top: 1em;
  }

  p {
      width: 88%;
      padding-right: 2em;
  }

  .btn-more {
      background-color: $bg-color;
      color: $light-gray;
      border: 0.1em $light-gray solid;
      border-radius: 1.5em;
      padding: 0.4em 1em;
      font-size: 0.8em;
      text-transform: uppercase;
      align-self: flex-start;
      margin-left: 12%;
  }

  .btn {
      &:focus {
          box-shadow: none;
      }
  }
}


.nav-tabs {
    border-bottom: none;
    
    .nav-link {
        color: $light-color;
        text-transform: uppercase;
        padding: 1.2em 1.5em;
        flex: 1 0 10%;
        background-color: darken($dark-gray, 7%);
        border: none;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        font-size: 0.7em;
        text-align: center;

    }
    
    .nav-link:not(:last-child) {
        margin-right: 0.15em;
    }

    .nav-link.active {
        background-color: $dark-gray;
        border: none;
        color: $light-color;
    }
}

.tab-pane {
    background-image: linear-gradient($dark-gray 0%, $bg-color 100%);
    min-height: 80vmin;
    padding-top: 0.5em;
    position: relative;
    z-index: 10;

}

.category-article {
    display: flex;
    border-bottom: thin darken($mid-gray, 20%) solid;
    padding-top: 1em;
    
    .article-content {
        flex: 1 0 50%;
        padding: 0 1em 1em 1em;

        h1 {
            font-size: 0.7em;
        }

        p {
            font-size: 0.55em;
            margin-bottom: 1em;
        }

        .btn-more {
            background-color: transparent;
            color: $light-gray;
            border: 0.1em $light-gray solid;
            border-radius: 1.5em;
            padding: 0.4em 1em;
            font-size: 0.6em;
            text-transform: uppercase;
            align-self: flex-start;
        }
      
        .btn {
            &:focus {
                box-shadow: none;
            }
        }
    }

    .article-image {
        flex: 0 0 9.25em;
        padding-bottom: 1em;
        
        img {
          display: block;
          width: 100%;
          border-radius: $r-large 0 0 $r-large;
        }
    }
}



