@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,900&display=swap');

$light-color: #F7F6FF;
$light-gray: #B4B4C0;
$mid-gray: #7F7E96;
$dark-gray: #404051;
$bg-color: #1C1D21;

$primary-font: 'Roboto', sans-serif;
$font-weight-black: 900;
$font-weight-medium: 400;
$font-weight-light: 300;

$r-large: 0.625em;
$r-small: 0.625em;


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: $bg-color;
}

header {
  z-index: 80;
  position: relative;
  
  .header-content{
    background-color: $dark-gray;
    border-radius: 0 0 1.25em 1.25em;
    min-height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: relative;

  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40%);
    border-radius: 0 0 1.25em 1.25em;
    width: 90%;
    height: 1.25em;
    background-color: $mid-gray;
  }
 
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 80%);
    border-radius: 0 0 1.25em 1.25em;
    width: 80%;
    height: 1.25em;
    background-color: $light-color;
    z-index: -2;
  }

  .logo {
    img {
      display: block;
      width: 5em;
    }
  }
}

.search {
  flex: 1 0 auto;
  margin-right: 1em;
}

.form-group {
  border-radius: 1em;
  background-color: $light-color;
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
  margin: 0;

  input {
    background-color: transparent;
    border: none;
    font-size: 0.875;
    font-weight: $font-weight-light;
    flex: 1 0 auto;
    margin-left: 0.5em;

    &::placeholder {
      font-size: 0.875;
    }

    &:focus {
      outline: none;
    }
  }

  .btn {
    width: 1.7em;
    height: 1.7em;
    background-color: $mid-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    button {
      background-color: transparent;
      border: none;

      i {
        color: $light-color;
        font-size: 0.8em;
      }
    }
  }
}

.feature-article {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
  img {
    width: 88%;
    margin-top: -1.25em;
    border-radius: 0 0 0 $r-large;
  }
}
